<mat-card class="main-card">
  <mat-card-header fxLayout="column" fxLayoutAlign="center">
    <mat-card-title>
      <div fxLayout="row" fxLayoutAlign="center center">
        <img src="assets/logo_esipe_red.png" alt="ESIPE Créteil" height="45px" />
      </div>
      <br />
      <h1 fxLayout="row" fxLayoutAlign="center center">General Information</h1>
    </mat-card-title>
    <mat-card-subtitle fxLayout="row" fxLayoutAlign="center center">
      <h3>Enter your data</h3>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

  </mat-card-content>
</mat-card>
